@import url('./fonts.css');
@import url('./variables.css');
@import url('./reset.css');
@import url('../../css/form.css');
@import url('../../css/task.css');

body {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__desktop {
  max-width: var(--container-width-desktop);
  width: 100%;
  padding: var(--container-padding);
}