:root {
  --white: #FFFFFF;
  --black: #000000;
  --cod-gray: #181818;
  --tundora: #4A4A4A;
  --scorpion: #5C5C5C;
  --nobel: #B6B6B6;
  --flush-mahogany: #CF3F3F;
  --yellow-orange: #FFBD3D;
  --sushi: #72C240;
  --container-width-desktop: 1024px;
  --container-padding: 24px;

  --poppins-font: normal 400 1rem "Poppins", sans-serif;
  --poppins-font-bold: normal 700 1rem "Poppins", sans-serif;
}